# uadk_provider can be enabled via uadk_provider.cnf
# export OPENSSL_CONF=/path/to/uadk_provider.cnf
# openssl command -config /path/to/uadk_provider.cnf
# application calls CONF_modules_load_file

openssl_conf = openssl_init

[openssl_init]
providers = provider_sect

[provider_sect]
uadk_provider = uadk_sect

[uadk_sect]
activate = 1
enable_sw_offload = 0
SM2 = 1
RSA = 1
ECDH = 1
ECDSA = 1
DH = 1
X25519 = 1
X448 = 1
HMAC = 1
AES_ECB = 1
AES_CBC = 1
AES_XTS = 1
AES_CTR = 1
AES_OFB128 = 1
AES_CFB128 = 1
SM4_CBC = 1
SM4_OFB128 = 1
SM4_CFB128 = 1
SM4_ECB = 1
SM4_CTR = 1
MD5 = 1
SM3 = 1
SHA1 = 1
SHA224 = 1
SHA256 = 1
SHA384 = 1
SHA512 = 1
AES_GCM = 1